@import '../../assets/theme/_var.scss';

.card_style{
    border-radius: 25px;
    border:1px solid $secondaryColor;
    background: $baseColor;
    color: $whiteColor; 
    &.mb-26{
    margin-bottom: 26px;
    }
    &.fullHeight{
        height: 100%;
    }
}
